@import './common.scss';
.wrap {
    width: 100%;
    height: 100%;
    font-size: px2rme(16px);
}

.form {
    width: 100%;
    padding: px2rem(10px);
    box-sizing: border-box;
    input {
        width: 100%;
        height: px2rme(50px);
        margin-top: px2rem(10px);
        border: none;
        border-bottom: 1px solid #999;
        line-height: px2rem(40px);
        outline: none;
    }
    button {
        width: 100%;
        height: px2rem(40px);
        background: orange;
        color: #fff;
        text-align: center;
        line-height: px2rem(40px);
        border: none;
        outline: none;
        margin-top: px2rem(10px);
        border-radius: px2rem(3px);
        .reg {
            background: #fff;
            border: 1px solid #999;
            color: #000;
        }
    }
}